# Redirect HTTP to HTTPS
server {
    listen 80;
    server_name davidvilar.com;

    return 301 https://$host$request_uri;
}

# HTTPS Configuration
server {
    listen 443 ssl;
    server_name yourdomain.com;

    # SSL Certificates 
    ssl_certificate /etc/letsencrypt/live/davidvilar.com/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/davidvilar.com/privkey.pem;

    ssl_protocols TLSv1.2 TLSv1.3;
    ssl_prefer_server_ciphers on;

    location / {
        proxy_pass http://frontend:4173; # Route to the frontend service
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }
}
