@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@400;500;700&display=swap");

:root {
	--hero-bg-light: #f5f5f5; /* Light theme background color */
	--hero-bg-dark: #2b3440; /* Dark theme background color */
}

/* COUNTDOWN SECTION */

.countdown-container {
	font-family: "Montserrat", sans-serif;
	background-color: #5acec2;
	color: #0b0b0b;
}

.countdown-wrapper {
	max-width: 1250px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
	padding: 0.75rem;
	margin: 0 auto;
}

.countdown-title {
	font-size: 0.8rem;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 600;
}

.countdown-item {
	display: flex;
	justify-content: center;
	gap: 1.15rem;
}

.countdown-item span {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.countdown-item span::after {
	content: attr(class);
	text-transform: uppercase;
	font-size: 0.7rem;
}
/* END OF COUNTDOWN SECTION */

/* HERO SECTION */
.hero-section {
	position: relative;
	display: flex;
	justify-content: center;
	padding-bottom: 3rem;
}

.hero-container {
	display: flex;
	width: 100%;
	max-width: 1400px;
	padding: 1rem;
	justify-content: center;
}

.hero-description {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.hero-description h1 {
	font-family: "Montserrat", sans-serif;
	font-size: 2rem;
	line-height: 1.2;
	font-weight: 700;
	text-align: center;
	margin: 1rem 0;
	background: linear-gradient(90deg, #5a62ce 0%, #5acec2 80%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: fadeIn 0.8s ease-in;
}

.video-description {
	width: 100%;
	aspect-ratio: 16/9;
	margin-bottom: 2rem;
}

.video-description iframe {
	width: 100%;
	height: 100%;
}

.video-description iframe {
	border-radius: 0.5rem;
	box-shadow: 0 4px 15px rgba(0, 0, 0, 0.6);
}

.hero-description p {
	font-family: "Poppins", sans-serif;
	font-size: 1.25rem;
	line-height: 1.6;
	text-align: center;
	margin: 0 0 1.5rem;
	animation: slideUp 0.6s ease-out;
}

/* larger screens  */
@media (min-width: 1024px) {
	.countdown-title {
		font-size: 0.9rem;
	}

	.countdown-item span {
		font-size: 1.25rem;
	}

	.hero-container {
		margin-bottom: 4rem;
	}

	.hero-description h1 {
		font-size: 3rem;
		margin: 3rem 0 0;
	}

	.hero-description p {
		font-size: 1.2rem;
		margin-bottom: 3rem;
	}

	.video-description iframe {
		width: 1200px;
		max-width: 100%;
	}

	.cta-button-hero {
		font-size: 1.2rem;
		margin-top: 1rem;
	}

	/* ANIMATIONS */
	@keyframes fadeIn {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}

	@keyframes slideUp {
		from {
			opacity: 0;
			transform: translateY(20px);
		}
		to {
			opacity: 1;
			transform: translateY(0);
		}
	}
}

/* THEME STYLES */

/* Light theme styles */
@media (prefers-color-scheme: light) {
	.hero-section {
		background-color: var(--hero-bg-light);
	}
}

/* Dark theme styles */
@media (prefers-color-scheme: dark) {
	.hero-section {
		background-color: var(--hero-bg-dark);
	}
}
