@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	scroll-behavior: smooth;
}

/* Hero title section */

.hero-content {
	max-width: 40em;
}

#letphil-logo-hero {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 3rem;
}

#letphil-logo-hero .welcome-hero {
	font-weight: 400;
	font-size: 3rem;
	margin-right: 1rem;
}

#letphil-logo-hero .curly {
	font-family: "Fira Code", monospace;
	font-size: 70px;
	font-weight: 300;
}

#letphil-logo-hero .letphil {
	font-family: "Fira Code", monospace;
	display: inline-block;
	width: 120px;
	font-size: 46px;
	font-style: italic;
	font-weight: 400;
	line-height: 52px;
	color: rgb(2, 113, 173);
}

#letphil-logo-hero .letphil .phil {
	color: rgb(90, 206, 194);
}
/* Set height to 100% for body and html to enable the background image to cover the whole page: */
body,
html {
	height: 100%;
	width: 100%;
	margin: 0;
	font-family: "Open Sans", Helvetica, sans-serif;
}

body {
	overflow-x: hidden;
}

.letphil-logo {
	display: flex;
	justify-content: center;
	align-items: center;

	font-family: "Fira Code", monospace;
}

.letphil-logo .curly {
	font-size: 100px;
	font-weight: 300;
}

.letphil-logo .letphil {
	display: inline-block;
	width: 150px;
	font-size: 62px;
	font-style: italic;
	font-weight: 400;
	line-height: 60px;
	color: rgb(2, 113, 173);
}

.letphil-logo .letphil .phil {
	color: rgb(90, 206, 194);
}

.button-social:hover {
	position: relative;
	top: -2px;
	opacity: 0.8;
}
